<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_profile.name %>
</p>

<p>
  <strong>Phoneno:</strong>
  <%= @user_profile.phoneno %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user_profile.address %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
